/** CSS for all styles of the site **/
$brandGray:#D7D7D7;
$brandBlue:#1BA4FF;
$brandWhite:white;
$brandFontFamily: 'Cabin', sans-serif;

@mixin box-shadow($one, $two, $three, $four, $color) {
    -webkit-box-shadow: $one $two $three $four $color;
    -moz-box-shadow: $one $two $three $four $color;
    box-shadow: $one $two $three $four $color;
}

/** global **/
html {
	background-color:$brandGray;
	font-family: $brandFontFamily;
	font-size:14px;
}

body {
	@extend html;
	padding-top:50px;
}

.animated-default {
	-vendor-animation-duration: 1s;
	-vendor-animation-delay: 2s;
}

.divider {
	position:absolute;
}

/** nav **/
.navbar-default {
	background-color: $brandBlue;
	border-color: transparent;
	@include box-shadow(1.5px, 2.598px, 14.25px, 0.75px, rgba(0, 0, 0, 0.35));
}

nav, 
.navbar-default .navbar-brand, 
#nav-collapse,
.navbar-default .navbar-nav>li>a {
	color:$brandWhite;
}

/** index/landing page **/
.circle-divider {
	@extend .divider;
}
.circle-divider div {
	border:1px solid black;
	border-radius:50%;
	height:15px;
	width:15px;
}
.intro-section {
	/*@include box-shadow(1.5px, 2.598px, 14.25px, 0.75px, rgba(0, 0, 0, 0.35));*/
	background-color: $brandWhite;
	padding:15px;
	min-height:400px;
	font-size:24px;
	color:$brandWhite;
}
.intro {
	background-color:darken(#8AF1AD, 20%);
}