<div class="container">

	<!-- nav with scrollspy -->
	<div class="nav-middle text-center animated fadeIn">
		<div id="dashboard-nav-inner">
			<ul class="nav">
	      		<li><a href="#progress">My Progress</a></li>
	      		<li><a href="#stats">Stats</a></li>
	      		<li><a href="#account">Account</a></li>
	    	</ul>
    	</div>
	</div>


	<div class="dashboard-body">

		<div class="dashboard-section animated fadeInUp animated-no-delay-fast" id="progress">
			<div class="text-center"><i class="fa fa-spinner fa-spin"></i></div>
		</div>

		<div class="dashboard-section animated fadeInUp animated-delay-fast" id="stats">
			Statistics
		</div>

		<div class="dashboard-section animated fadeInUp animated-delay-fast-2" id="account">
			Account Settings
		</div>

	</div>

</div>