<!-- intro -->
<div class="row intro-section intro">
	<div class="animated fadeIn animated-default">
		<div class="col-md-6 intro-text text-center">
			A streamlined, low-distraction environment <br />
			suitable and personalizable for your educational
			needs.

			<br /> <br />

			100% Web-based, no downloads required.

			<br /> <br />

			<div class="intro-get-started-btn">
				<a href="" class="btn btn-default">Get Started Now</a>
			</div>
		</div>

		<div class="col-md-6 text-center">
			Image would go here
		</div>
	</div>

</div>

<div class="triangle-divider divider">
	<div></div>
</div>
<!-- end intro-->

<!-- principles -->
<div class="row intro-section principles">
	<div>
		<div class="text-center intro-section-title">
			Our principles
		</div>

		<div class="col-sm-4 principle">

			<div class="principle-body">
				Circle image
			</div>

			<div class="principle-header">
				Human-centered.
			</div>

			<div class="principle-text">
				Education requires commitment, not better technology. Com-et focuses on
				helping you form better study habits and offers an environment tweaked to the last
				string for you. Designed by humans for humans.
			</div>

		</div>

		<div class="col-sm-4 principle">

			<div class="principle-body">
				Circle image
			</div>

			<div class="principle-header">	
				A cognitive approach.
			</div>

			<div class="principle-text">
				Com-et takes advantage of the strengths and weaknesses of the human
				mind and exploits both to bolster learning. Allow us to manage the
				dedicated learning environment so that you can focus on your studies.
			</div>

		</div>

		<div class="col-sm-4 principle">

			<div class="principle-body">
				Circle image
			</div>

			<div class="principle-header">
				Always free.
			</div>

			<div class="principle-text">
				Education does not have a price tag. We at Com-et believe
				strongly in the equality of education for all. The Com-et 
				team vows to never offer premium services or ask for any
				form of payment.
			</div>

		</div>
	</div>
</div>
<div class="bar-divider divider text-center">
	<div>divider</div>
</div>

<!-- end principles -->

<!-- features 1 -->
<div class="row intro-section features-1">
	<div>Features 1</div>
</div>
<!-- end features 1 -->

<!-- features 2 -->
<div class="row intro-section features-2">
	<div>Features 2</div>
</div>
<!-- end features 2 -->

<!-- ending -->
<div class="row intro-section intro-ending">
	<div>Ending</div>
</div>
<!-- end ending -->