<!-- intro -->
<div class="row intro-section intro">
	<div class="animated fadeIn animated-default">
		<div class="col-md-6 intro-text text-center">
			A streamlined, low-distraction environment <br />
			suitable and personalizable for your educational
			needs.

			<br /> <br />

			100% Web-based, no downloads required.

			<br /> <br />

			<div class="intro-get-started-btn">
				<a href="" class="btn btn-default">Get Started Now</a>
			</div>
		</div>

		<div class="col-md-6 text-center">
			Image would go here
		</div>
	</div>

</div>

<div class="triangle-divider divider">
	<div></div>
</div>
<!-- end intro-->

<!-- principles -->
<div class="row intro-section principles">
	<div>
		<div class="text-center intro-header">
			Our principles
		</div>

		<div class="col-sm-4 principle">

			<div class="principle-body">
				Circle image
			</div>

			<div class="intro-subheader">
				Human-centered.
			</div>

			<div class="principle-text">
				Education requires commitment, not better technology. Rocket focuses on
				helping you form better study habits and offers an environment tweaked to the last
				string for you. Designed by humans for humans.
			</div>

		</div>

		<div class="col-sm-4 principle">

			<div class="principle-body">
				Circle image
			</div>

			<div class="intro-subheader">	
				A cognitive approach.
			</div>

			<div class="principle-text">
				Rocket takes advantage of the strengths and weaknesses of the human
				mind and exploits both to bolster learning. Allow us to manage the
				dedicated learning environment so that you can focus on your studies.
			</div>

		</div>

		<div class="col-sm-4 principle">

			<div class="principle-body">
				Circle image
			</div>

			<div class="intro-subheader">
				Always free.
			</div>

			<div class="principle-text">
				Education does not have a price tag. We at Rocket believe
				strongly in the equality of education for all. The Rocket 
				team vows to never offer premium services or ask for any
				form of payment.
			</div>

		</div>
	</div>
</div>
<div class="bar-divider divider text-center">
	<div class="intro-header">
		<div>
			- Features -
		</div>
	</div>
</div>

<!-- end principles -->

<!-- features 1 -->
<div class="row intro-section features-1">
	<div>
		<div class="feature">

			<div class="intro-header text-center">
				(1) A break system.
			</div>

			<div class="feature-body">

				<div class="col-sm-6">
					One image here with picture of tired cartoon
				</div>

				<div class="col-sm-6">
					Image of app's break system
				</div>

			</div>

			<div class="feature-text text-center">

				<p>
					You are not a machine, regardless of how much you might aspire to be one. 
					<br />

					Rocket offers a simple, yet revolutionary break system that other learning
					applications do not consider.

					<br/> <br/ >

					Semi-optional breaks are offered throughout each course, allowing you
					to step outside, check your social media accounts, or enjoy a quick online video.

					<br /> <br />

					This is because we know studying can be difficult; headaches, fatigue, and cognitive exhaustion only make
					it worse. We promise to make it easier on you so that you can reach your learning
					goals. 

				</p>

			</div>

		</div>
	</div>
</div>
<div class="triangle-divider divider divider-middle">
	<div></div>
</div>
<!-- end features 1 -->

<!-- features 2 -->
<div class="row intro-section features-2">
	<div>
		<div class="col-sm-6 feature text-center">

			<div class="intro-header">
				(2) Multiple contexts.
			</div>

			<div class="feature-body">
				image of reviews/pop-quiz
			</div>

			<div class="feature-text">
				<p>
					Your memory is better when you repeat things in your head. 
					<br /> <br />
					Rocket offers a seamless review system that allows for repetition
					and re-encoding. This means more contexts for you to learn and understand
					course topics.
				</p>
			</div>

		</div>

		<div class="col-sm-6 feature text-center">

			<div class="intro-header">
				(3) Ask a "Tweetcher".
			</div>

			<div class="feature-body">
				image of twitter
			</div>

			<div class="feature-text">
				<p>
					Yes, we came up with that pun. 

					<br /> <br />

					It can be difficult to get help when you need it, be it due to
					availability or intimidation - we won't ask.

					<br /> <br />

					We integrated Twitter so that you can Tweet your questions anonymously to a 
					teacher. This means quicker responses and less hesitation.
				</p>
			</div>

		</div>
	</div>
</div>
<div class="triangle-divider divider divider-left">
	<div></div>
</div>
<!-- end features 2 -->

<!-- ending -->
<div class="row intro-section intro-ending text-center">
	<div>
		What are you waiting for?
	</div>
</div>
<!-- end ending -->